body {
  height: 100vh;
  background: linear-gradient(90deg, rgba(22,1,1,1) 0%, rgba(121,9,9,0.9864320728291317) 48%, rgba(40,1,1,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.imageSet1 {
  position: relative;
  width: 1000px;
  height: 700px;
}

.imageSet1 img {
  width: auto;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  animation: PopUp 1s ease forwards;
}

@keyframes PopUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.imageSet1 img:nth-child(2) {
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation-delay: 0.1s;
}


.imageSet1 img:nth-child(1) {
  bottom: 20%;
  left: 25%;
  z-index: 3;
  animation-delay: 0.2s;
  height: 500px;
}

.imageSet1 img:nth-child(3) {
  top: 80%;
  left: 20%;
  z-index: 4;
  animation-delay: 0.3s;
  height: 500px;
}

.imageSet1 img:nth-child(4) {
  bottom: 20%;
  left: 80%;
  z-index: 3;
  animation-delay: 0.2s;
  height: 500px;
}

/* Kisame */
.imageSet1 img:nth-child(5) {
  top: 85%;
  left: 60%;
  z-index: 4;
  animation-delay: 0.5s;
  height: 500px;
}

/* Kakuzo */
.imageSet1 img:nth-child(6) {
  top: 50%;
  left: 80%;
  z-index: 3;
  animation-delay: 0.6s;
  height: 500px;
}

/* Konan */
.imageSet1 img:nth-child(7) {
  top: 40%;
  left: 22%;
  z-index: 3;
  animation-delay: 0.7s;
  height: 500px;
}

/* Zetsu */
.imageSet1 img:nth-child(8) {
  top: 70%;
  left: 17%;
  z-index: 4;
  animation-delay: 0.8s;
  height: 500px;
}

/* Obito */
.imageSet1 img:nth-child(9) {
  top: 85%;
  left: 80%;
  z-index: 4;
  animation-delay: 0.5s;
  height: 500px;
}

.animated-text {
  position: absolute;
  bottom: 100%;
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: white;
  opacity: 0;
  animation: fadeInText 3s ease-in forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.center-container {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.rotating-image {
  width: 500px;
  height: 900px;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fly {
  0% {
    transform: translateX(100vw) translateY(0) rotate(0deg);
  }
  25% {
    transform: translateX(75vw) translateY(-10vh) rotate(-10deg);
  }
  50% {
    transform: translateX(50vw) translateY(20vh) rotate(10deg);
  }
  75% {
    transform: translateX(25vw) translateY(-15vh) rotate(-15deg);
  }
  100% {
    transform: translateX(-100vw) translateY(0) rotate(0deg);
  }
}

@keyframes fly-left-right {
  0% {
    transform: translateX(-100vw) translateY(0) rotate(0deg);
  }
  25% {
    transform: translateX(-75vw) translateY(-10vh) rotate(10deg);
  }
  50% {
    transform: translateX(-50vw) translateY(20vh) rotate(-10deg);
  }
  75% {
    transform: translateX(-25vw) translateY(-15vh) rotate(15deg);
  }
  100% {
    transform: translateX(100vw) translateY(0) rotate(0deg);
  }
}

.fly-animation {
  position: absolute;
  width: 200px;
  animation: fly 10s linear infinite;
}

.fly-animation-left-right {
  position: absolute;
  width: 200px;
  animation: fly-left-right 10s linear infinite;
}
